psycopg2_binary==2.9.9
web.py==0.6.2

#brew install postgresql
#pip3 install psycopg2

# 404  sudo find / -name EXTERNALLY-MANAGED
# 405  rm /usr/local/Cellar/python@3.12/3.12.6/Frameworks/Python.framework/Versions/3.12/lib/python3.12/EXTERNALLY-MANAGED

#otel
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-jaeger
opentelemetry-instrumentation